{% extends 'back.html.twig' %}

{% block title %}New Remboursement{% endblock %}

{% block body %}
    <h1>Create new Remboursement</h1>

    {{ include('remboursement/_form.html.twig') }}

    <a href="{{ path('app_remboursement_index') }}">back to list</a>
{% endblock %}
