<form method="post" action="{{ path('app_evenement_delete', {'idev': evenement.idev}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.idev) }}">
   <button  class="btn btn-primary btn-sm" >Delete</button>
</form>
