{% extends 'frontS.html.twig' %}



{% block body %}

<center><h1 style="color: blue;">votre mail est envoyer avec succes si tu veux rembourser appuit ici</h1>


        <a href="{{ path('app_remboursement_new') }}" class="btn btn-primary">Refund</a>

</center>




{% endblock %}
