<form method="post" action="{{ path('app_video_deleteV', {'idvid': video.idvid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.idvid) }}">
    <button class="btn">Delete</button>
</form>
