{% extends 'Front.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}


<div class="section-padding"></div>
  <div class="container">
      {% for video in videos %}
<div class="col-md-4 mb-4 mx-auto">
        <div class="card video-card">
              <center>

          <video class="card-img-top" controls data-src="../{{ video.url }}">
            <source src="../uploads/{{ video.url }}" type="video/mp4">
          </video>
          <div class="card-body">
            <h3>
              <p class="text-center" style="font-family: Arial, sans-serif;">
                {{ video.nomvid }}
              </p>
            </h3>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>



{% endblock %}
