{% extends 'Front.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Create new Video</h1>
        </div>
        <div class="card-body">
            {{ include('video/_form.html.twig') }}
        </div>
    </div>
    <div class="text-center mt-4">
        
    </div>
</div>
{% endblock %}
