{% extends 'FrontS.html.twig' %}
{% block title %}Espacetalent index{% endblock %}

{% block body %}

    

    
        <div class="blog-details bg-white">
            <div class="container">
                <div class="entry-post">
                        <img  class="img-fluid" src="images/blog/333.jpg" alt="Image">
                        
                        <div class="entry-summary">
                           <h1>Music Production – Be Better Than Your Past Self</h1>
                       </div> 
                       <ul class="entry-meta list-inline">
                           <li><a href="#"><i class="fa fa-user"></i>By  owen williams </a></li>
                           <li><a href="#"><i class="fa fa-clock-o"></i>Aug 1, 2018</a></li>
                           <li><a href="#"><i class="fa fa-comment-o"></i>189 Comments</a></li>
                       </ul>
                </div>

                <div class="entry-summary">
                    <p>As I mentioned in my first article, I decided to pursue my dream of becoming a composer and music producer. Starting from scratch in music production can be overwhelming, with endless acronyms, tools, software, plugins, virtual instruments, audio concepts, technical issues everywhere, everything is new, and everything is daunting. But despite all difficulties, I feel it’s worth it because I love what I do.

For example, I started learning online and looking for information about which DAW (Digital Audio Station) to choose and how to use it. I made my first musical experiments with a few virtual instrument libraries that I had at that moment. I had a lot of technical issues with audio for recording and mixing it as I didn’t have a specific audio interface at the time. But it was in one of those experiments that Miracle was born.

Scoring – One at Time
I always wondered about composing for films, for years I thought it was something very difficult and out of my reach, but shortly after I started my journey into music production, I found a mini course about scoring for short movies. Would I be capable to do that? It was the kind of question that I was asking myself. I decided to take the chance to make my first scoring.

Sometimes we are surprised by our own unknown abilities.
I discovered that I was able to make it. During the composition process, for each scene I had to compose, it was as if the music came naturally out of my head. There were two opposing moods in the movie and, I could feel each scene and transfer it to the music. Finally, the soundtrack for Dear Darkening Ground was created, and I was very proud of my first scoring.

As I loved this experience, I decided to continue on this path composing one score at a time. When I was looking for the next one, I found a short movie that I immediately felt connected to, it was a short movie used for a previous scoring contest and this video was longer than my first one, another little incremental challenge. “Memento mori” or “remember you are going to die” was the catchy monologue line said in this short movie called The Lost Piano, the music should match each scene and I composed the soundtrack on the piano with my heart.

The First Competition
Then I searched for a music composition contest. I was very surprised by the number of competitions I stumbled upon, my first reaction was “Great, I want to enter all of them as they have different styles, etc”, but I knew that I needed to pick the ones I liked the most and make one at a time; that could help me to build my portfolio over time.

I found my first competition a few days before the deadline, I had to score for Elevator Alone a hilarious animated short movie promoted by Animegaron, the International Animation Film Music Competition of the Megaron Concert Hall in Athens, Greece. It was the first competition I took part in, in December of last year.

It was a defying task because the comedy genre is one of the most difficult ones. I had to make the general soundtrack, but I also added some sound effects, I also made specific music for each character, this is called “leitmotif” in scoring. Throughout the composition process, the truth is that I had a lot of fun creating it and more than that, I got attached to the four characters in the end.

Last month, they announced the finalists and winners in a beautiful streaming ceremony directly from Athens, it was like watching the “Oscars” and when I heard my name in the finalists, I felt like I was floating on air full of happiness. I received the “Second Distinction”, the 5th place, it was a great achievement for me in such a short period of time. A few days later another unexpected thing happened, I received a direct call from Greece where I talked to the artistic director, and he congratulated me on my work and said that the aim of the competition was also to help new composers. Talking to him was an incredible feeling of being recognized as an emerging composer.

One thing to note is that many competitions out there require you to put your name in the video. Fortunately, the Greek competition had a blind judgment, giving a fair chance for everyone no matter who it was. I’m grateful to Animegaron for setting a strong example and for giving us the opportunity to enter the professional world.

After my first competition, I have been participating in many other contests in different styles and challenges including creating music for drama, comedy, hip-hop, epic, action music, etc. Every genre has its own world inside it to learn.

Final Thoughts
If you are thinking about starting this journey in film scoring, I encourage you to take the first step, there is a lot of information on the internet to learn, and courses to make and we can support each other, you can count on me.

In those contests that I kept challenging myself, isn’t all sunshine and rainbows, there were several times when I felt stuck, as I was not moving forward.

Composers and producers spend many hours in front of the screen, like me, we must give ourselves short breaks, and if one day the creativity stops flowing, just go for a walk, do some sport, call a friend, play your favorite instrument, sing, be with your pet… because when you come back to the task, you will find yourself refreshed, I do that, and it works for me and I hope it can help you.

One of the things that I realized in this process is that instead of thinking that “it is difficult” or “it is so hard”, “that we are not capable”, or that “we are not going to make it”, we must take action and start creating because something beautiful created by you will come out of it.
Past, present, and future
When you look back at your past, you will see how far you have come; you will be in a different place than you are now if you continue to push yourself in the learning process. Your future self will be proud of your growth.

Also by Sound Girls:
My Catharsis: Never Give Up On Your Passion

Not Your (Grand)Parents’ Dream Career

Join TheatreArtLife to access unlimited articles, our global career center, discussion forums, and professional development resource guide. Your investment will help us continue to ignite connections across the globe in live entertainment and build this community for industry professionals. Learn more about our subscription plans.</p>
                </div>

                <div class="blog-social list-inline">
                    <ul class="list-inline">
                        <li><a href="#"><img class="img-fluid" src="images/blog/11.jpg" alt="Image"></a></li>
                        <li><a href="#"><img class="img-fluid" src="images/blog/12.jpg" alt="Image"></a></li>
                        <li><a href="#"><img class="img-fluid" src="images/blog/13.jpg" alt="Image"></a></li>
                        <li><a href="#"><img class="img-fluid" src="images/blog/14.jpg" alt="Image"></a></li>
                    </ul>
                </div>
            </div><!-- container -->         
        </div><!-- blog details-->
  

       


        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="js/gmaps.min.js"></script>          
        <script src="js/jquery.jplayer.min.js"></script> 
        <script src="js/jplayer.playlist.min.js"></script> 
        <script src="js/jquery.plugin.js"></script> 
        <script src="js/jquery.countdown.js"></script>    
        <script src="js/magnific-popup.min.js"></script>    
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/owl.carousel.min.js"></script> 
        <script src="js/inview.min.js"></script> 
        <script src="js/jquery.spinner.min.js"></script> 
        <script src="js/cubeportfolio.min.js"></script>   
        <script src="js/main.js"></script>
        
    {% endblock %}