{% extends 'FrontS.html.twig' %}
{% block title %}Espacetalent index{% endblock %}

{% block body %}
<head>
    

      

        <!-- icons -->
        <link rel="icon" href="images/ico/favicon.ico"> 
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/ico/apple-touch-icon-144-precomposed.html">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/ico/apple-touch-icon-114-precomposed.html">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/ico/apple-touch-icon-72-precomposed.html">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../images/ico/apple-touch-icon-57-precomposed.html">    

       
      

    
    </head>
    <body>
      
       

        <div class="blog-section blog section-padding before-after bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/1.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/2.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/3.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/4.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/5.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/6.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/7.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/8.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/blog/9.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                   <a href="blog-details.html">Lorem ipsum dolor sit adipisicing</a>
                               </div> 
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                               <div class="post-icons">
                                   <a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>                     
                        
        </div><!-- blog section -->       

       


    </body>

{% endblock %}
