{% extends 'back.html.twig' %}


{% block title %}New Planning{% endblock %}

{% block body %}
    <h1>Create new Planning</h1>
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ include('planning/_form.html.twig') }}

    <a href="{{ path('app_planning_index') }}"class="btn btn-primary px-3 py-1">back to list</a>
{% endblock %}
