{% extends 'Back.html.twig' %}

{% block title %}Edit Espacetalent{% endblock %}

{% block body %}
    <h1>Edit Espacetalent</h1>

    {{ include('espace/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_espace_index') }}">back to list</a>

    {{ include('espace/_delete_form.html.twig') }}
{% endblock %}
