{% extends 'Back.html.twig' %}

{% block title %}New Espace Talent{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Create new Espace Talent</h1>
                    </div>
                    <div class="card-body">
                        {{ include('espace/_form.html.twig') }}
                    </div>
                </div>
                <div class="my-4">
                    <a href="{{ path('app_espace_index') }}" class="btn btn-secondary">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
