{% extends 'base.html.twig' %}

{% block title %}New Espacetalent{% endblock %}

{% block body %}
    <h1>Create new Espacetalent</h1>

    {{ include('espace/_form.html.twig') }}

    <a href="{{ path('app_espace_index') }}">back to list</a>
{% endblock %}
